<div class="login-wrapper">
  <!-- ASSET: Backgroundimage -->
  <!-- ASSET: Backgroundimage -->
  <div class="backgroundimage">
    <img src="assets/images/background.png" />
  </div>
  <div class="login-box-password">
    <div class="login-overlay-big">
      <!-- ATOM: Profil -->
      <div class="img-profil">
        <div class="initials">
          <p>JD</p>
        </div>
      </div>
      <div class="user-font-bold">John Doe</div>
      <div class="user-font">Workplace</div>
      <div class="input-field login-password">
        <div class="input-field login-password">
          <label for="input">User</label>
          <div class="input-container">
            <input id="input" value="John" placeholder="Placeholder" type="text" />
          </div>
          <label for="input">Password</label>
          <div class="input-container">
            <input id="input" value="Content" placeholder="Placeholder" type="password" />
          </div>
          <span class="helper-text">Helper Text (optional)</span>
        </div>
        <div class="button-container btn-login">
          <!-- ATOM: Content Button Primary -->
          <button class="btn-header">
            <span class="button-label">Login</span>
          </button>
        </div>
      </div>
    </div>
    <div class="trumpf-logo"><img src="assets/images/trumpf-logo.png" /></div>
  </div>
</div>
